<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.product.ProductSkuMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.spzx.model.entity.product.ProductSku">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
            <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="thumbImg" column="thumb_img" jdbcType="VARCHAR"/>
            <result property="salePrice" column="sale_price" jdbcType="DECIMAL"/>
            <result property="marketPrice" column="market_price" jdbcType="DECIMAL"/>
            <result property="costPrice" column="cost_price" jdbcType="DECIMAL"/>
            <result property="stockNum" column="stock_num" jdbcType="INTEGER"/>
            <result property="saleNum" column="sale_num" jdbcType="INTEGER"/>
            <result property="skuSpec" column="sku_spec" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="DECIMAL"/>
            <result property="volume" column="volume" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="BaseColumns">
        id,sku_code,sku_name,
        product_id,thumb_img,sale_price,
        market_price,cost_price,stock_num,
        sale_num,sku_spec,weight,
        volume,status,create_time,
        update_time,is_deleted
    </sql>

    <sql id="InsertColumns">
        sku_code,sku_name,
        product_id,thumb_img,sale_price,
        market_price,cost_price,stock_num,
        sku_spec,weight,
        volume
    </sql>
    <insert id="saveBatch">
        insert into product_sku
        (<include refid="InsertColumns"/>)
        values
        <foreach collection="productSkus" item="productSku" index="index" separator=",">
            (#{productSku.skuCode},#{productSku.skuName},#{productSku.productId},#{productSku.thumbImg},#{productSku.salePrice},
            #{productSku.marketPrice},#{productSku.costPrice},#{productSku.stockNum},#{productSku.skuSpec},#{productSku.weight},#{productSku.volume})
        </foreach>
    </insert>
    <select id="getProductSkuListByProductId" resultType="com.atguigu.spzx.model.entity.product.ProductSku">
        select id,
               sku_code,
               sku_name,
               product_id,
               thumb_img,
               sale_price,
               market_price,
               cost_price,
               stock_num,
               sku_spec,
               weight,
               volume
        from product_sku
        where product_id = #{id}
          and is_deleted = 0
    </select>
</mapper>
